######################
# Magento .gitignore #
######################
# Magento Core unnecessary files #
##################################
/errors/local.xml
/index.php
/install.php
/mage
/php.ini
/php.ini.sample
downloader/*
includes/*
pkginfo/*
/PATCH*
# Maintenance flag #
####################
maintenance.flag
# Env, configuration and setup related files #
##############################################
/.htaccess
/.htaccess.sample
/LICENSE.html
/LICENSE.txt
/LICENSE_AFL.txt
/RELEASE_NOTES.txt
/api.php
/get.php
/index.php.sample
/code.txt

app/etc/local.xml
# var, and static assets #
##########################
/media
/var
/lib
/errors
/shell
/dev
/downloader
# Magmi files #
###############
/magmi/state/*
!/magmi/state/dummy.txt
/magmi/conf/magmi.ini
# Do not version CSV data source configurations, as file paths are instance dependents
/magmi/conf/Magmi_CSVDataSource.conf
/magmi/conf/*/Magmi_CSVDataSource.conf
# IDE files #
#############
.project
.idea/*
.buildpath
.settings
# System files #
################
.*~
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
# Logs and databases #
######################
*.log
*.sql
*.sqlite
# Redis dump #
##############
dump.rdb
# Sass files #
##############
**/.sass-cache/
# Node and node-related files #
###############################
gulpfile.js
node_modules/*
# Project specific files #
##########################
_utils/bdd/*
_utils/_gitignored/*
/feeds
/*.tar
/*.bz2
/*.rdb
/*.xml
nohup.out
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.swp