<?xml version="1.0"?>
<config>
  <modules>
    <Snenko_OneClickOrder>
      <version>0.1.0</version>
    </Snenko_OneClickOrder>
  </modules>
  <frontend>
    <routers>
      <oneclickorder>
        <use>standard</use>
          <args>
            <module>Snenko_OneClickOrder</module>
            <frontName>oneclickorder</frontName>
          </args>
      </oneclickorder>
    </routers>
		<layout>
		  <updates>
			<oneclickorder>
			  <file>oneclickorder.xml</file>
			</oneclickorder>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <oneclickorder>
        <class>Snenko_OneClickOrder_Helper</class>
      </oneclickorder>
    </helpers>
	<blocks>
	  <oneclickorder>
		<class>Snenko_OneClickOrder_Block</class>
	  </oneclickorder>
	</blocks>
	<models>
	  <oneclickorder>
		<class>Snenko_OneClickOrder_Model</class>
		<resourceModel>oneclickorder_mysql4</resourceModel>
	  </oneclickorder>
	  <oneclickorder_mysql4>
		<class>Snenko_OneClickOrder_Model_Mysql4</class>
		<entities>
			  <orderquick>
				<table>quick_order</table>
			  </orderquick>
        </entities>
	  </oneclickorder_mysql4>
	</models>
	<resources>
	  <oneclickorder_setup>
		<setup>
		  <module>Snenko_OneClickOrder</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </oneclickorder_setup>
	  <oneclickorder_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </oneclickorder_write>
	  <oneclickorder_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </oneclickorder_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <oneclickorder>
	    <use>admin</use>
		<args>
		  <module>Snenko_OneClickOrder</module>
		  <frontName>admin_oneclickorder</frontName>
		</args>
	  </oneclickorder>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <oneclickorder module="oneclickorder">
		<title>OneClickOrder</title>
		<sort_order>100</sort_order>
		<children>
		  <orderquick module="oneclickorder">
		    <title>Manage Orderquick</title>
			<sort_order>0</sort_order>
			<action>admin_oneclickorder/adminhtml_orderquick</action>
		  </orderquick>
		</children>
	  </oneclickorder>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<oneclickorder translate="title" module="oneclickorder">
			  <title>OneClickOrder</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <orderquick translate="title">
			<title>Manage Orderquick</title>
			<sort_order>0</sort_order>
		  </orderquick>
			  </children>
			</oneclickorder>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<oneclickorder>
		  <file>oneclickorder.xml</file>
		</oneclickorder>
	  </updates>
	</layout>
  </adminhtml>
</config> 