<?xml version="1.0"?>
<config>
  <modules>
    <Snenko_TopBaner>
      <version>0.1.0</version>
    </Snenko_TopBaner>
  </modules>
  <frontend>
    <routers>
      <topbaner>
        <use>standard</use>
          <args>
            <module>Snenko_TopBaner</module>
            <frontName>topbaner</frontName>
          </args>
      </topbaner>
    </routers>
		<layout>
		  <updates>
			<topbaner>
			  <file>topbaner.xml</file>
			</topbaner>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <topbaner>
        <class>Snenko_TopBaner_Helper</class>
      </topbaner>
    </helpers>
	<blocks>
	  <topbaner>
		<class>Snenko_TopBaner_Block</class>
	  </topbaner>
	</blocks>
  </global>
</config> 