<?xml version="1.0"?>
<config>
  <modules>
    <Snenko_Translate>
      <version>0.1.0</version>
    </Snenko_Translate>
  </modules>
  <global>
    <helpers>
      <translate>
        <class>Snenko_Translate_Helper</class>
      </translate>
    </helpers>
	<blocks>
	  <translate>
		<class>Snenko_Translate_Block</class>
	  </translate>
	</blocks>
	<models>
	  <translate>
		<class>Snenko_Translate_Model</class>
		<resourceModel>translate_mysql4</resourceModel>
	  </translate>
	  <translate_mysql4>
		<class>Snenko_Translate_Model_Mysql4</class>
		<entities>
			  <panel>
				<table>core_translate</table>
			  </panel>
		</entities>
	  </translate_mysql4>
	</models>
	<resources>
	  <translate_setup>
		<setup>
		  <module>Snenko_Translate</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </translate_setup>
	  <translate_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </translate_write>
	  <translate_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </translate_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <translate>
	    <use>admin</use>
		<args>
		  <module>Snenko_Translate</module>
		  <frontName>admin_translate</frontName>
		</args>
	  </translate>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <translate module="translate">
		<title>Translate</title>
		<sort_order>100</sort_order>
		<children>
		  <panel module="translate">
		    <title>Manage Panel</title>
			<sort_order>0</sort_order>
			<action>admin_translate/adminhtml_panel</action>
		  </panel>
		</children>
	  </translate>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<translate translate="title" module="translate">
			  <title>Translate</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <panel translate="title">
			<title>Manage Panel</title>
			<sort_order>0</sort_order>
		  </panel>
			  </children>
			</translate>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<translate>
		  <file>translate.xml</file>
		</translate>
	  </updates>
	</layout>
  </adminhtml>
</config> 