<?xml version="1.0"?>
<config>
  <modules>
    <NS_Topblock>
      <version>1.1.0</version>
    </NS_Topblock>
  </modules>
  <frontend>
    <routers>
      <topblock>
        <use>standard</use>
          <args>
            <module>NS_Topblock</module>
            <frontName>topblock</frontName>
          </args>
      </topblock>
    </routers>
		<layout>
		  <updates>
			<topblock>
			  <file>topblock.xml</file>
			</topblock>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <topblock>
        <class>NS_Topblock_Helper</class>
      </topblock>
    </helpers>
	<blocks>
	  <topblock>
		<class>NS_Topblock_Block_Message</class>
	  </topblock>
	</blocks>
    <models>
	  <topblock>
		<class>NS_Topblock_Model_Source_Pages</class>
	  </topblock>
	</models>
  </global>
</config> 